rect.node {
    stroke: black;
    stroke-width: 1.5px;
}

rect.node.switch {
    fill: lightblue;
}

rect.node.host {
    fill: green;
}

line.link {
    stroke-opacity: .6;
    stroke: green;
}

line.link.up {
    stroke: gray;
}

line.link.down {
    stroke: red;
}

text {
    font-family: sans-serif;
}
